<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>world</title>
    <script src="https://cdn.babylonjs.com/babylon.js"></script>
    <style>
        html,
        body {
            overflow: hidden;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #renderCanvas {
            width: 100%;
            height: 100%;
            touch-action: none;
        }
    </style>
</head>

<body>
    <canvas id="renderCanvas"></canvas>
    <script type="text/javascript" src="/js/index.js">
    </script>
</body>

</html>